# Disable language detection for all files
* linguist-detectable=false

# Enable language detection for files
*.yml linguist-detectable=true
*.yaml linguist-detectable=true
*.go linguist-detectable=true

# Set files to be treated
*.yml linguist-language=YAML
*.yaml linguist-language=YAML
*.go linguist-language=Go
