# Disable language detection for all files
* linguist-detectable=false

# Enable language detection for YAML files
*.yml linguist-detectable=true
*.yaml linguist-detectable=true

# Set YAML files to be treated as YAML
*.yml linguist-language=YAML
*.yaml linguist-language=YAML
